@using AppExpedienteDHR.Core.ViewModels.Workflow
@model GroupWfViewModel

@{
    ViewData["Title"] = Model.Id == 0 ? "Crear Grupo" : "Editar Grupo";
}

<h3 class="text-center">@ViewData["Title"]</h3>
<br />
<form id="groupForm" method="post"
      asp-action="Save">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="FlowWfId" />
    <div class="d-flex justify-content-center align-items-center">
        <div class="form-group text-right mt-3">
            <button type="button" class="btn btn-primary" onclick="saveGroup()">Guardar</button>
            <button type="button" class="btn btn-secondary" onclick="clearForm()">Cancelar</button>
        </div>

    </div>

    <div class="form-group">
        <label asp-for="Order" class="control-label"></label>
        <input asp-for="Order" class="form-control" />
        <span asp-validation-for="Order" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Users">Usuarios</label>
        <select id="Users" name="SelectedUsers" class="form-control" multiple="multiple">
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id" selected="@(Model.SelectedUserIds.Contains(user.Id) ? "selected" : null)">
                    @user.FullName
                </option>
            }
        </select>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

