@using AppExpedienteDHR.Core.ViewModels.User
@model UserFormViewModel

@{
    ViewData["Title"] = "Editar Usuario";
}

<br />
<br />

<h3 class="text-center">Editar Usuario</h3>

<hr />

<form method="post" asp-action="edit">
    <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
    <input type="hidden" asp-for="User.Id" />

    <div class="container">
        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="User.UserName" class="control-label"></label>
                    <input asp-for="User.UserName" class="form-control" />
                    <span asp-validation-for="User.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.FullName" class="control-label"></label>
                    <input asp-for="User.FullName" class="form-control" />
                    <span asp-validation-for="User.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.PhoneNumber" class="control-label"></label>
                    <input asp-for="User.PhoneNumber" class="form-control" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <!-- Segunda columna -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label"></label>
                    <input asp-for="User.Email" class="form-control" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Address" class="control-label"></label>
                    <input asp-for="User.Address" class="form-control" />
                    <span asp-validation-for="User.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Position" class="control-label"></label>
                    <input asp-for="User.Position" class="form-control" />
                    <span asp-validation-for="User.Position" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- Selección de Roles -->
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Roles" class="control-label">Roles</label>
                    @foreach (var role in Model.RolesItems)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="SelectedRoles" value="@role.Value" id="role_@role.Value"
                            @(Model.SelectedRoles.Contains(role.Value) ? "checked" : "") />
                            <label class="form-check-label" for="role_@role.Value">
                                @role.Text
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- Botones -->
        <div class="form-group row mt-3">
            <div class="col-8">
                <partial name="_ViewCreateReturn" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




