@using Microsoft.AspNetCore.Identity
@using AppExpedienteDHR.Core.Domain.IdentityEntities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@using AppExpedienteDHR.Utils.Constants

@{
    ViewData["Title"] = "Inicio";
}


<link rel="stylesheet" href="~/css/mainPage.css">


<div class="text-center">
    <h4 class="display-6">Mis Módulos</h4>

</div>


@if (SignInManager.IsSignedIn(User))
{
    <partial name="_ModulosPartial" />
}
else
{
    <div class="text-center">
        <h2 class="display-6">Inicia sesión para acceder a la plataforma</h2>
        <img src="~/images/DefensoriaBanner.jpg" alt="Defensoria Banner" class="img-fluid my-4 rounded-border">
        <p class="lead">Para acceder a todas las funcionalidades de la plataforma, por favor inicia sesión.</p>
        <a class="btn btn-primary btn-lg mt-3" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
    </div>

}
