@using AppExpedienteDHR.Core.ViewModels.Workflow
@model FlowFormViewModel


@{
    ViewData["Title"] = Model.Flow.Id == 0 ? "Crear Flujo de Trabajo" : "Flujo de Trabajo";
    var tableGroupId = "tblGroups";
    var tableStateId = "tblStates";
    var flowId = Model.Flow.Id;
}

<br />
<br />

<h3 class="text-center">@ViewData["Title"]</h3>

<div class="container-fluid custom-container-lg-xl">

    <div class="row ">
        <div class="col-12 border border-light rounded p-2">
            <form method="post" asp-action="Save">


                <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
                <input type="hidden" asp-for="Flow.Id" />
                <div class="row d-flex  justify-content-center">
                    <div class="col-6 mt-4 d-flex  justify-content-end">
                        <button type="submit" class="btn btn-primary me-2">Guardar Flujo</button>
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                    </div>
                </div>
                <div class="row d-flex  justify-content-center">
                    <div class="col-6 mt-4">
                        <div class="form-group">
                            <label asp-for="Flow.Order" class="control-label"></label>
                            <input asp-for="Flow.Order" class="form-control" />
                            <div class="offset-3">
                                <span asp-validation-for="Flow.Order" class="text-danger text-center"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Flow.Name" class="control-label"></label>
                            <input asp-for="Flow.Name" class="form-control" />
                            <div class="offset-3">
                                <span asp-validation-for="Flow.Name" class="text-danger text-center"></span>
                            </div>
                        </div>
                    </div>

                </div>



            </form>
        </div>
    </div>

    @if (Model.Flow.Id > 0)
    {



        <div class="row">
            <div class="col-12 col-md-6 border border-light rounded p-2 mt-2">
                <div class="scrollable-container">
                    <h3>Estados </h3>
                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-primary mb-3" onclick="loadStateForm('@flowId')">
                            <i class="fas fa-plus"></i> Crear
                        </button>
                    </div>
                    <partial name="_StateListPartial" model="Model" />




                    <h3>Grupos </h3>
                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-primary mb-3" onclick="loadGroupForm('@flowId')">
                            <i class="fas fa-plus"></i> Crear
                        </button>
                    </div>
                    <partial name="_GroupListPartial" model="Model" />
                </div>


            </div>
            <div class="col-12 col-md-6 border border-light rounded p-2 mt-2">
                <div id="editFormContainer">
                    <!-- Aquí se cargará dinámicamente el formulario de creación/edición de grupos -->
                </div>


            </div>
        </div>

    }



</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Verificar si la página se está accediendo a través del historial (por ejemplo, al hacer clic en "Atrás")
        if (performance.navigation.type === 2) {
            location.reload(true); // Forzar recarga de la página desde el servidor
        }
    </script>


    <script src="~/js/datatable/datatable.js"></script>
    <script src="~/js/flow/flowForm.js"></script>
    <script src="~/js/flow/stateAction.js"></script>
    <script src="~/js/flow/actionRule.js"></script>
    <script>
        $(document).ready(function () {
            const flowId = '@flowId';
            const tableGroupId = '@tableGroupId';
            const tableStateId = '@tableStateId';
            initializeStateDataTable(flowId, tableStateId);
            initializeGroupDataTable(flowId, tableGroupId);
        });
    </script>
}





