@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su password fue reseteado. Click acá <a asp-page="./Login">click here to log in</a>.
</p>
