@using AppExpedienteDHR.Core.ViewModels.Admin
@model EventoViewModel

<div id="modalEvento" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Evento" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="eventoForm" method="post" asp-action="SaveEvento">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="DerechoId" value="@(ViewData["DerechoId"])" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group">
                        <label asp-for="Codigo" class="form-label"></label>
                        <input asp-for="Codigo" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="form-label"></label>
                        <input asp-for="Descripcion" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Normativa" class="form-label"></label>
                        <input asp-for="Normativa" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Normativa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ODS" class="form-label"></label>
                        <input asp-for="ODS" class="form-control" autocomplete="off" />
                        <span asp-validation-for="ODS" class="text-danger"></span>
                    </div>

              
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="saveEvento()">Guardar</button>
            </div>
        </div>
    </div>
</div>