<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control">Guardar</button>
    </div>
    &nbsp;
    <div class="col">
        <a asp-action="Index" class="btn btn-info">Regresar</a>
    </div>


</div>
