


/* Ajustes de estilo para los botones */
.btn-group .btn-sm {
    padding: 4px 8px;
    margin: 0 2px;
    border-radius: 4px;
}

/* Colores personalizados para cada botón */
.btn-outline-secondary {
    color: #6c757d;
}

    .btn-outline-secondary:hover {
        color: #fff;
        background-color: #6c757d;
    }

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
}

/* Iconos */
.btn .fas {
    margin-right: 2px;
}

/* Tooltip */
[data-bs-toggle="tooltip"] {
    cursor: pointer;
}



/* Ajustes para el menú desplegable dentro de Tabulator */
.tabulator .dropdown-menu {
    position: fixed !important;
    z-index: 1055 !important; /* Asegura que esté por encima de la tabla */
    display: none; /* Ocultarlo inicialmente */
}

/* Ajustes de estilo para los botones */
.btn-group .btn-sm {
    padding: 4px 8px;
    margin: 0 2px;
    border-radius: 4px;
}

.dropdown-toggle {
    background-color: #17a2b8;
    border: none;
}

.dropdown-menu {
    min-width: 150px;
}
