
<link rel="stylesheet" href="~/css/flowHistory.css">

<div class="modal fade" id="flowHistoryModal" tabindex="-1" aria-labelledby="flowHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flowHistoryModalLabel">Historial del Flujo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="flowHistoryTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Estado Anterior</th>
                            <th>Estado Actual</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>